<h2>Commentssssssssssssssssss</h2>

<div id="comments">
    <%# Expands to render partial: "comments/comment", collection: post.comments %>
    <%= render post.comments %>
    1111
</div>

<%= render "comments/new", post: post%>